.hide {
  display: none;
}
.my-form {
  border: none;
  outline: none;
  background: none;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

ul {
  font-size: 2em;
}

#correct-result {
text-align: center;
}

#actual-list {
  cursor: pointer;
  color: rgba(145, 11, 11, 1);
  background: none;
}

#actual-list:hover {
  text-decoration: underline;
}

#name-score-row {
  display: none;
}

#make-flashcard {
  margin-top: 20px;
  /*display: none;*/
}

#dad-hates-you {
  text-align: center;
}

body {
  background-color: rgba(94, 87, 104, 0.75);
}
.jumbotron {
  background-color: rgba(145, 11, 11, 0.75);
  color: rgba(255, 248, 240, 1);
}


.our-button {
  background-color: rgba(25, 29, 50, 1);
  border: 0;
  color: rgba(255, 248, 240, 1);
  display: block;
}

.modal-header {
  background-color: rgba(25, 29, 50, 1);
  border: none;
  color: rgba(255, 248, 240, 1);
}

.modal {
  background-color: rgba(25, 29, 50, 0.5);

}
.close {
  margin: -15px -178px -15px auto;
  cursor: pointer;
}
.modal-footer {
  background-color: rgba(255, 248, 240, 1);/*floral white*/
  rgba(25, 29, 50, 1);
  border: none;
}

.modal-body {
  background-color: rgba(255, 248, 240, 1);/*floral white*/
  rgba(25, 29, 50, 1);
}

#practice-flash {
  margin-top: 5px;
  background-color: rgba(145, 11, 11, 1);
  border: none;
  font-weight: bolder;
}

#delete-flash {
  margin-top: 5px;
  background-color: rgba(25, 29, 50, 1);
  color: rgba(255, 248, 240, 1);
  border: none;
  font-weight: bolder;
}

#update-flash {
  margin-top: 5px;
  background-color: rgba(255, 248, 240, 1);
  border: none;
  color: rgba(25, 29, 50, 1);
  font-weight: bolder;
}

#library-card {
  background: none;
  border: none;
}

/*ninjacat palette*/
/* RGB */
$color1: rgba(25, 29, 50, 1); /*dark gunmetal*/
$color2: rgba(145, 11, 11, 1); /*sangria*/
$color3: rgba(255, 248, 240, 1);/*floral white*/
$color4: rgba(34, 30, 34, 1);/*raisin black*/
$color5: rgba(94, 87, 104, 1);/*granite gray*/
