.hide {
  display: none;
}
textarea::-webkit-input-placeholder {
  color: white !important;

}
textarea:-moz-placeholder { /* Firefox 18- */
	color: white !important;
}
textarea::-moz-placeholder {  /* Firefox 19+ */
  color: white !important;
}
textarea:-ms-input-placeholder {
	color: white !important;
}
input::-webkit-input-placeholder {
  color: white !important;
}
input:-moz-placeholder { /* Firefox 18- */
	color: white !important;
}
input::-moz-placeholder {  /* Firefox 19+ */
  color: white !important;
}
input:-ms-input-placeholder {
	color: white !important;
}

input#username {
  font-size: 3em;
}

input#flash-name {
  font-size: 2em;
}

textarea#flash-snippet {
  font-size: 2em;
}

input#flash-answer {
  font-size: 2em;
}

textarea#flash-snippet, input#flash-answer, input#flash-name {
  margin-bottom: 100px;
}

input {
  border: none;
  outline: none;
  background: none;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
textarea {
  border: none;
  outline: none;
  background: none;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  border: 3px solid rgba(255, 248, 240, .8);
}
input, textarea {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  border-bottom: 3px solid rgba(255, 248, 240, .8);
  text-align: center;
  color: white;
}
ul {
  font-size: 2em;
}
label {
  display: block;
  width: 300px;
  margin: 25px auto 0;
  text-align: center;
  text-decoration: underline;
  font-size: 2em;
}

.carousel-img {
  opacity: 0.6;
}

.carousel-caption {
  bottom: 300px;
}

.flash-item {
  background-color: lightslategray;
  border-radius: 30px 30px 0 0;
  border: solid floralwhite;
  border-width: 1px;
  padding: 5px 5px 30px 5px;
  margin-bottom: -30px;
}

.flash-item-snippet {
  display: none;
}

img .carousel-img{
width: 100%;
height: 100%
}
#actual-list {
  cursor: pointer;
  color: rgba(145, 11, 11, 1);
  margin-top: 20px;
  margin-bottom: 50px;
}

#name-score-row {
  display: none;
  color: rgba(145, 11, 11, 1);
  margin-top: 10%;
}

#make-flashcard {
  background-color: rgba(25, 29, 50, 1);
  border: 0;
  color: rgba(255, 248, 240, 1);
  display: block;
  border-radius: 10px;
  width: 242px;
  height: 120px;
  font-size: 2em;
  margin-top: 20px;
}
#add-card {
  margin-top: 5px;
  background-color: rgba(145, 11, 11, 1);
  color: rgba(255, 248, 240, 1);
  border: none;
  font-weight: bolder;
  border-radius: 10px;
  width: 30%;
  height: 70px;
  font-size: 2em;

}

body {
  /*background-color: rgba(94, 87, 104, 0.75);*/
  background: repeating-linear-gradient(to right, rgb(125,126,125),rgb(14,14,14)); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: rgba(255, 248, 240, 1);
}
.jumbotron {
  background-color: rgba(145, 11, 11, 0.75);
  color: rgba(255, 248, 240, 1);
}


.our-button {
  background-color: rgba(25, 29, 50, 1);
  border: 0;
  color: rgba(255, 248, 240, 1);
  display: block;
  border-radius: 30px;
}

#user-div {
  align-items: center;
  margin-top: 20%;
}
#lets-do-this {
  background-color: rgba(25, 29, 50, 1);
  border: 0;
  color: rgba(255, 248, 240, 1);
  display: block;
  border-radius: 10px;
  width: 242px;
  height: 70px;
  font-size: 2em;
}
.modal-header .close {
  /*margin: -15px -178px -15px auto;*/
  color: rgba(255, 248, 240, 1);
  /*justify-content: flex-end;*/
}

.close {
  cursor: pointer;
}

.modal-header {
  background-color: rgba(25, 29, 50, 1);
  border: none;
  color: rgba(255, 248, 240, 1);
}

.modal {
  background-color: rgba(25, 29, 50, 0.5);

}
#dad-hates-you {
  text-align: center;
}
#correct-result {
  text-align: center;
}
.modal-footer {
  background-color: rgba(255, 248, 240, 1);/*floral white*/
  rgba(25, 29, 50, 1);
  border: none;
}

.modal-body {
  background-color: rgba(255, 248, 240, 1);/*floral white*/
  color: rgba(25, 29, 50, 1);
}
#practice-flash {
  margin-top: 5px;
  background-color: rgba(25, 29, 50, 1);
  color: rgba(255, 248, 240, 1);
  border: none;
  font-weight: bolder;
  border-radius: 10px;
  width: 242px;
  height: 70px;
  font-size: 2em;
}

#delete-flash {
  margin-top: 5px;
  background-color: rgba(25, 29, 50, 1);
  color: rgba(255, 248, 240, 1);
  border: none;
  font-weight: bolder;
  border-radius: 10px;
  width: 242px;
  height: 70px;
  font-size: 2em;
}
#update-flash {
  margin-top: 5px;
  background-color: rgba(255, 248, 240, 1);
  border: none;
  color: rgba(25, 29, 50, 1);
  font-weight: bolder;
  border-radius: 30px;
}

#library-card {
  background: none;
  border: none;
}

/*ninjacat palette*/
/* RGB */
$color1: rgba(25, 29, 50, 1); /*dark gunmetal*/
$color2: rgba(145, 11, 11, 1); /*sangria*/
$color3: rgba(255, 248, 240, 1);/*floral white*/
$color4: rgba(34, 30, 34, 1);/*raisin black*/
$color5: rgba(94, 87, 104, 1);/*granite gray*/
